body {
  font-family: "Lato", "Arial", sans-serif;
  margin: 0 auto;
  max-width: 1020px;
}

h2, ul, li {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  padding: 28px 40px 32px 41px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}

.logo:after {
  color: #e36861;
  content: "*";
  font-weight: lighter;
}

.menu-list {
  color: #fff;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  list-style: none;
  min-width: 371px;
  text-transform: uppercase;
}

.active {
  color:  #e36861;
}

.menu-list-item {
  line-height: 16px;
}

/* .menu-list-item:after {
  content: "&#183;"
} */